{% extends 'base.html.twig' %}

{% block title %}usuario{% endblock %}

{% block body %}
    <br>
    <div class="card">
        <div class="card-header" style="background-color: #c8d9ec;">
            <div class="float-right">
                <a href="#user_new_modal" data-toggle="modal" role="button" class="find btn btn-info btn-sm ml-auto" ><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Usuario</a>
            </div>
            <div class="float-left" style="color: #1e5d67;">
                <h5> <i class="fa fa-search" aria-hidden="true"></i>  Buscar Usuarios</h5> 
            </div>
        
        </div>
        <div class="card-body">
           

        </div>
    </div>

    
    {{ include('usuario/new.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--Datatables-->
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!--eventos-->
    <script src="{{ asset('js/usuario.js') }}" type="text/javascript"> </script>

{% endblock %}
