{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <h1>Casa</h1>


{% endblock %}


