{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}


{% block body %}
    <br>
    <div class="card">
        <div class="card-header" style="background-color: #c8d9ec;">
            <div class="float-right">
                <a  href="#product_new_modal" data-toggle="modal" role="button" class="btn btn-info btn-sm ml-auto" ><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Producto</a>
            </div>
            <div class="float-left" style="color: #1e5d67;">
                <h5> <i class="fa fa-search" aria-hidden="true"></i>  Buscar Productos</h5> 
            </div>
        
        </div>
        <div class="card-body">
          
        </div>
    </div>


     {{ include('producto/new.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--check-->
    <script src="{{ asset('librerias/bootstrap-checkbox-1.5.0/dist/js/bootstrap-checkbox.js') }}" defer></script>
  
    <script>

        $(document).ready(function() {
            $(':checkbox').checkboxpicker();

        } );
    </script>


{% endblock %}




