<table class="table table-sm" id="table-detalleFactura" style="font-family: -webkit-pictograph; font-size: inherit;">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Cant.</th>
            <th>Descripcion</th>
            <th>Precio Unit.</th>
            <th>Precio Total</th>
    
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td></td> 
            <td></td>  
            <td></td> 
            <td></td> 
            <td></td>    
        </tr>
    
    </tbody>
</table>
              